<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h2>Send me email</h2>
  <hr>
  {% include 'flash.html' %}
  <div class="clearfix"></div>

  <form action="" method="post" name="edit" class="form-horizontal">
      {{form.hidden_tag()}}
      <div class="form-group">
          <label for="exampleInputEmail1">From mail address</label>
          {{ form.mail_from(size=40, class="form-control") }}
      </div>
      <div class="form-group">
          <label for="exampleInputEmail1">Body</label>
          {{ form.message(cols=22, rows=10, class="form-control") }}
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default" value="Send!">
      </div>
  </form>

{% endblock %}