{% extends "base.html" %}
{% block content %}
  <h2>Notes</h2>
          <div class="nav-collapse">
            {% if g.user.is_authenticated %}
                <form class="navbar-search pull-right" action="{{ url_for('search') }}" method="post" name="search">
                    {{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20, placeholder='Search', class="search-query")}}
                </form>
            {% endif %}
          </div>
  <hr>
    {% include 'flash.html' %}
    <div class="clearfix"></div>
    {% for post in posts %}

        <div class="bs-callout bs-callout-info">
            <div class="row">
                <div class="col-md-9"><h4><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></h4></div>
                <div class="col-md-3">
                    <span class="text-muted">{{ momentjs(post.timestamp).format('LL') }}</span>&nbsp;
                    <a href="{{ url_for('posts_edit', id=post.id) }}">[edit]</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <p>
                    {{ use_html().shorter(post.body) }}
                </p>
                </div>
            </div>
        </div>

    {% endfor %}

    <div>
      <p>
        <a href="{{ url_for('posts_new') }}">[new post]</a>
      </p>
    </div>
{% endblock %}